# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

slogd

data/

.DS_Store

# I'm fine with dep ensure pulling code
vendor/

# Don't track generated protobufs
proto/*.pb.go
proto/*.pb.gw.go
